._1gallery
  width 100%
  overflow auto
  position relative
  box-sizing border-box
  *
    box-sizing border-box

  .slideArea
    height 100%
    position absolute
    display flex
  &.smooth .slideArea
    transition all .9s ease

  >.prev, >.next, >.cardCounter, >.zoom
    display none
  &.js
    overflow hidden
    >.prev, >.next, >.cardCounter, >.zoom
      display flex
      position absolute
      align-items center
      justify-content space-evenly
      user-select none
    >.prev, >.next
      top 50%
      width 10%
      font-size 200%
      border-radius 100%
      text-decoration none
      user-select none
      color #666
      &:hover
        cursor pointer
        color #222
        background-color rgba(100%,100%,100%,.3)
        > *
          transform scale(1.2)
      span
        display block

    >.prev
      left 20px
    >.next
      right 20px
