._1gallery .cardWrapper
  margin 0 5px
  display inline-block
  height 100%
  position relative

  .card
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin 0
    overflow hidden
    box-sizing border-box
  .ratio-helper
    display block
    width auto
    height 100%
