._1gallery > .cardCounter
  left 50%
  bottom 5px
  text-align center
  width 250px
  margin-left - (@width / 2)
  height 20px
  color #666
  //line-height @height
  a
    text-decoration none
    color #666
    font-weight bold
    //text-shadow 0 0 10px white
    user-select none
    cursor pointer
    display inline-block
    padding 0 10px
    &:hover
      transform scale(1.2)


  .dot
      opacity .3

      background-color: #222
      box-shadow 0 0 10px white
      border-radius 100%
      padding 8px
      &.active
        opacity .9
