._1gallery .card
  margin 0 5px
  height 100%
  max-width 100%
  display flex
  align-items center
  justify-content center
  position relative
  object-fit contain
  overflow hidden
  flex 1
  &.ratio
    flex none
  &.cover
    object-fit cover

  .cardContent
    object-fit contain
    &img
      user-select none
      pointer-events none
    img
      user-select none
      pointer-events none
    &.cover
      object-fit cover
    overflow hidden
    max-width 100%
    box-sizing border-box
    margin 0
    &[class*="ratio"]
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      max-height 100%
      max-width 100%
  .ratio-helper
    display block
    width auto
    height 100%
._1gallery.js .card
  flex none
  .cardContent
    position initial
  .ratio-helper
    display none

._1gallery.smooth .card
  cursor grab
._1gallery .card
  //cursor grabbing
  cursor ew-resize
