._1gallery>.zoom
  left 50%
  top 0
  width 50px
  height @width
  margin-left - (@width / 2)
  line-height @width
  text-align center
  font-size 200%
  text-decoration none
  user-select none
  &:hover
    cursor pointer
    transform scale(1.2)


._1gallery.fullScreen
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 10
  .card
    width 100vw
    .cardContent
      overflow auto
