<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>1gallery ~ Demo page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="1gallery.css"/>
    <style>
        html, body{margin:0;padding:0;}
        h1{ text-align: center;}
        .banner{
            width: 80vw;
            margin: auto;
        }
        .cardContent{
            background-color: #eee;
        }

    </style>
</head>
<body>

<h1>Photo album like </h1>
<%
let html = '';
for(let i=1;i<=20;i++) {
    const htmlCard = include('../src/dummyCard.ejs', {count:i});
    html += include('../src/cardWrapper.ejs',{htmlCard});
}
%>
<%- include('../src/1gallery.ejs',{htmlCards:html,classes:'banner zoomable'}); %>

<h1>Hybrid examples mix</h1>
<%
const exampleCards = [];
const sampleHtmlCard = `
<h2>Titre</h2>
<img src="img/1forma-tic.svg" style="float:left; width: 30%"/>
<p>Lorem <a href="https://lipsum.com/">ipsum</a> dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt leo nec turpis dignissim lacinia. Donec posuere porta diam, et efficitur leo convallis eu. Ut suscipit egestas ex. Nam vulputate mi ac enim hendrerit gravida. Integer tempus quam ut sodales pharetra. Curabitur ac rhoncus massa. Maecenas id est porttitor, viverra odio sit amet, pellentesque elit. Proin ac euismod urna. Vestibulum eget vulputate libero, mollis tincidunt ipsum. Phasellus mauris mi, egestas ac enim ut, fringilla faucibus dui.
</p><p>Nam justo risus, gravida ac risus sed, scelerisque feugiat nisi. Praesent consectetur eu eros ut faucibus. Proin metus neque, suscipit ut libero sit amet, molestie egestas ligula. Nullam dictum lectus sed diam ornare interdum vitae eu arcu. Donec tristique, lacus nec consectetur hendrerit, ipsum ante vestibulum nisi, vitae finibus lorem eros sit amet ante. Ut tincidunt nisi sit amet leo sodales, eu tincidunt justo molestie. Nulla facilisi. Cras tempus felis nibh, a interdum purus convallis nec.
</p><p>Donec in dui magna. Praesent accumsan urna quis lectus volutpat bibendum. Nullam vitae tristique metus, eu ullamcorper mi. Morbi sollicitudin mollis ex ut molestie. Etiam vel facilisis felis. Aliquam aliquet varius nibh a vestibulum. Suspendisse in elit sit amet dui egestas ultricies. Proin lacinia ligula nec urna auctor, quis ullamcorper nisl imperdiet. Morbi mollis ornare egestas. Cras vulputate suscipit ipsum, quis imperdiet ante suscipit vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ac nisl auctor erat lacinia tincidunt. Praesent bibendum ultrices consectetur. Mauris purus neque, hendrerit at elementum ut, suscipit a augue.
</p><p>Phasellus at eleifend massa. Suspendisse nec sem tortor. Aenean at leo volutpat, sodales velit a, commodo tortor. Cras feugiat vulputate ante at dapibus. Aliquam vel lobortis nisl, sit amet molestie ex. Donec pulvinar enim ac ultrices lobortis. Nulla non nulla molestie, dictum ex mollis, egestas turpis. Phasellus sem arcu, pretium eu dictum sed, aliquam eget diam. Vestibulum dictum, ex bibendum dignissim semper, orci magna dapibus urna, ac molestie nulla felis quis risus. Maecenas commodo ex id mi interdum congue nec sit amet sem.
</p><p>Nunc vel volutpat orci. Mauris sed risus commodo, semper arcu nec, dictum arcu. Aliquam in iaculis dui. Suspendisse nec consectetur sapien. Vestibulum sem turpis, accumsan accumsan mollis vitae, fermentum non lacus. Donec a diam dictum, maximus enim id, finibus odio. Vestibulum eget magna in quam venenatis congue. Ut sodales ultrices elit, eget sollicitudin libero efficitur in. Nullam ac lacus finibus, euismod nisi eget, scelerisque massa. Aliquam ultricies nulla at nulla sodales, in ullamcorper orci sollicitudin. Etiam iaculis tempus feugiat. Praesent ligula libero, ullamcorper nec lacus eget, blandit blandit magna. Quisque vulputate, metus a aliquam dictum, tellus dui tincidunt libero, sit amet tempor ligula metus sit amet justo.
</p>
<hr style="clear: both"/>
`;
exampleCards.push(`<section class="card">${sampleHtmlCard}</section>`);
exampleCards.push(`<section class="card cover">${sampleHtmlCard}</section>`);
exampleCards.push(`<section class="card ratio-1-3">${sampleHtmlCard}</section>`);
exampleCards.push(`<section class="card ratio-9-1">${sampleHtmlCard}</section>`);
exampleCards.push(`<img class="card ratio-1902-1070" src="img/1forma-tic-fond-ecran.png"/>`);
exampleCards.push(`<img class="card ratio-6772-1500" src="img/panorama-rose-orange-light-only.jpg"/>`);
exampleCards.push(`<img class="card ratio-6772-1500 cover" src="img/panorama-rose-orange-light-only.jpg"/>`);
exampleCards.push(`<img class="card ratio-650-1004" src="img/cdvVulkanumQR.png"/>`);
exampleCards.push(`<img class="card ratio-650-1004 cover" src="img/cdvVulkanumQR.png"/>`);

/*
exempleCards.push(`
<figure class="cardContent dummy cover" style="background-color: hsl(${(Math.random()*360).toFixed(0)},30%,80%)">
</figure>
`);
*/
%>
<%- include('../src/1gallery.ejs',{cards:exampleCards,classes:'banner zoomable'}); %>

<h1>Splash screen like with autoplay-2s and no zoom</h1>
<% const dummySplashCards = [1,2,3,4,5].map(i=>include('../src/dummyCard.ejs', {count:i, cover:true})); %>
<%- include('../src/1gallery.ejs',{cards:dummySplashCards,classes:'splash autoplay-2s'}); %>

<script src="1gallery.js"></script>
<%- include('sourceRibbon.ejs'); %>
</body>
</html>
