<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>1gallery ~ Demo page</title>
    <link rel="stylesheet" href="1gallery.css"/>
</head>
<body>


<%
let html = '';
for(let i=1;i<=20;i++) {
    const htmlCard = include('../src/dummyCard.ejs', {count:i});
    html += include('../src/cardWrapper.ejs',{htmlCard});
}
%>
<%- include('../src/1gallery.html.ejs',{htmlCards:html,classes:'banner'}); %>


<script src="1gallery.js"></script>
</body>
</html>
