<a href="https://framagit.org/1000i100/1gallery" id="sourceRibbon" title="Fork me !">
    <span>AGPL-3.0</span>
    <span>Logiciel Libre</span>
    <span>Remonter aux sources</span>
    <style>
        #sourceRibbon {position: fixed; top: 15px; right: -110px; z-index: 500; transform: rotate(45deg); text-align: center;width: 300px; box-shadow: 0 0 5px #000; text-decoration: none;}
        #sourceRibbon span {background-color: #0A0; color: white; font-family: sans-serif; display: block; padding: 1px 30px; font-size: 9pt; margin: -1px; text-shadow: 0 0 3px rgba(0,0,0,.5);}
        #sourceRibbon span + span {background-color:  #06A; font-size: 11pt;}
        #sourceRibbon span + span + span {background-color: #E80; font-size: 10pt;}
    </style>
</a>
