<div class="_1gallery <%= classes %>">
    <div class="slideArea">
        <%- typeof htmlCards !== "undefined" ? htmlCards : '' _%>
        <%- typeof cards !== "undefined" ? cards.map(c=>include('cardWrapper.ejs',{htmlCard:c})).join('') : '' _%>
    </div>
    <a class="prev" href="#previousCard"><span>❮</span></a>
    <a class="next" href="#nextCard"><span>❯</span></a>
    <div class="cardCounter"></div>
</div>
