<%
htmlCard = htmlCard.replace(/(class="[^"]*)card( [^"]+")/, (all, before, after) => `${before}cardContent${after}`);
htmlCard = htmlCard.replace(/(class="[^"]*)card(")/, (all, before, after) => `${before}cardContent${after}`);

const ratio = htmlCard.match(/class="cardContent [^"]*ratio-([0-9]+)-([0-9]+)/);
const classes = htmlCard.match(/class="cardContent([^"]*)"/);
%>
<div class="card<%= ratio?' ratio':''%><%=classes[1]%>">
    <%- htmlCard _%>
    <% if(ratio) {_%>
    <svg class="ratio-helper" viewBox="0 0 <%= ratio[1] %> <%= ratio[2] %>"/>
    <% } _%>
</div>
