<% const ratio = htmlCard.match(/class="card [^"]+ratio-([0-9]+)-([0-9]+)/);
if(ratio){ %>
<div class="cardWrapper ratio">
    <canvas class="ratio-helper" width="<%=ratio[1]%>" height="<%=ratio[2]%>"></canvas>
    <%- htmlCard _%>
</div>
<% } else { %>
<div class="cardWrapper">
    <%- htmlCard _%>
</div>
<% } %>
