<% if(typeof cover !== "undefined"){ %>
    <figure class="cardContent dummy cover" style="background-color: hsl(<%= (Math.random()*360).toFixed(0) %>,30%,80%)"><p><%= count %></p></figure>
<% } else { %>
    <figure class="cardContent dummy ratio-<%= Math.ceil(Math.random()*6) %>-2" style="background-color: hsl(<%= (Math.random()*360).toFixed(0) %>,30%,80%)"><p><%= count %></p></figure>
<% } %>
